!!!
%html
  %head
    %title Fuzzy Normalizer Web Service
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %style{:type => "text/css", :media => "screen"}
      :plain
        .doc_sub1header {
          font-family:"Times New Roman", Times, serif;
          font-size: 11pt;
          font-weight: bold; 
        }
        .doc_body {
          font-family:"Times New Roman", Times, serif;
          font-size: 10pt;
          font-weight: normal; 
        }
  %body
    #application
      .doc_sub1header="Web service mode: "
      .doc_body="Send a POST request to this service at /vmtransform, the request body of which should contain a XML document with TEI parallel segementated witness information. It'll return a Versioning Machine HTML view to you."
      .doc_sub1header="Interactive mode: "
      .doc_body="Not implemented yet"