<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[% template.title or "Collation lemmatizer" %]</title>
<link type="text/css" href="[% c.uri_for('/css/cupertino/jquery-ui-1.8.13.custom.css') %]" rel="stylesheet" />
<link type="text/css" href="[% c.uri_for('/css/style.css') %]" rel="stylesheet" />
[% script %]
</head>

<body>
 <div id="banner">
 	<div id="logoimg"><img src="[% c.uri_for( '/static/images/wikilogo.png' ) %]" alt="Interedition" /></div>
 	<div id="logotitle">
		<h1 class="title"><a href="http://www.interedition.eu/">Interedition</a></h1>
		<p class="tagline">powered by interoperability</p>
	</div>
 </div>
[% content %]
</body>
</html>
