<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Collate X</title>
<link rel="stylesheet" href="/style/style.css" type="text/css" />
<link rel="stylesheet" href="/style/cupertino/jquery-ui-1.8.13.custom.css">
<link rel="stylesheet" href="/style/jquery.fileupload-ui.css">

<script src="/js/jquery-1.6.min.js"></script>
<script src="/js/jquery-ui-1.8.13.custom.min.js"></script>
<script src="/js/jquery.tmpl.min.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.fileupload-ui.js"></script>

<!--script language="JavaScript" type="application/javascript" src="/js/jquery-1.4.2.min.js"></script-->
<script language="JavaScript" type="text/JavaScript" src="/js/collatex.js"></script>

</head>
<body>
<div class="header"><img src="/images/interedition.gif" alt="Collate X" width="91" height="50" align="right" id="logoL"/><img src="images/CollateX.gif" alt="Collate X" width="127" height="50" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div class="intro">This a CollateX based text collation client to show the strength of web   services based pipeline workflow as an interoperability mechanism   between digital and computational textual scholarship tools. This client   is using the CollateX collation engine (running on a different server   than this client). CollateX is a powerfull fully automatic baseless text   collation engine for multiple witnesses.</div>

<div class="col01 coll">
  <form id="choosefile" enctype="multipart/form-data" method="post" action="/uploadfile" name="choosefile">
    <h1><span class="nmr">1</span> Files</h1>
    <h2>Select files</h2>
    <p>Select the files on your local drive, or provide one or more URLs, that contain the texts that you would like to collate.</p>
    <div id="allFiles"></div>
		<div id="addAnother" class="divLink">Add Another</div>
    <p>&nbsp;</p>
    <p>Or type the URL to the online text:</p>
	<div id="allUrls">
    
 	</div>
	<div id="addAnotherUrl" class="divLink">Add Another</div>
	   </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><div onclick="submitForm()" class="button"><span>Upload and configure</span></div></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    
  </form>

  <div id="fileupload">
    <form action="/fileupload" method="POST" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">

            <label class="fileinput-button">
                <span>Add files...</span>
                <input type="file" name="files[]" multiple>
            </label>
            <button type="submit" class="start">Start upload</button>
            <button type="reset" class="cancel">Cancel upload</button>
            <button type="button" class="delete">Delete files</button>

        </div>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
  </div>
  <script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="name"><div class="name_div">${name}</div></td>
        <td class="size" colspan="2"><div class="size_div">${sizef}</div></td>
    </tr>
    <tr>
        {{if error}}
            <td class="error" colspan="2">Error:
                {{if error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
            <td class="progress"><div></div></td>
            <td class="start"><button>Start</button></td>
        {{/if}}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
  </script>
  <script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
            <td></td>
            <td class="name"><div class="name_div">${name}</div></td>
            <td class="size"><div class="size_div">${sizef}</div></td>
          </tr>
          <tr>
            <td class="error" colspan="2">Error:
                {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
                {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
                {{else error === 3}}File was only partially uploaded
                {{else error === 4}}No File was uploaded
                {{else error === 5}}Missing a temporary folder
                {{else error === 6}}Failed to write file to disk
                {{else error === 7}}File upload stopped by extension
                {{else error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
                {{else error === 'emptyResult'}}Empty file upload result
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
            <td class="name">
                <div class="name_div"><a href="${url}">${name}</a></div>
            </td>
            <td class="size"><div class="size_div">${sizef}</div></td>
        {{/if}}
        <td class="delete">
            <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
        </td>
    </tr>
  </script>
  <script src="/js/application.js"></script>

</div>

<div class="col02 coll">
  <form action="" method="post" enctype="multipart/form-data" name="Configureform" id="Configureform">
    <h1><span class="nmr">2</span> Configure</h1>
	<h2 id="submittedLabel">Submitted files</h2>
	
    <ul id="submittedFileList">
		
    </ul>
   
	<div class="textfiledetails_1">
	<div><h2>Fuzzy Matching (e.g. for medieval texts)<input id="fuzzymatch" name="fuzzymatch" type="checkbox"></input></h2></div>
	<br/>
	<div><h2>Collator</h2></div>
	<ul id="collatorUL">
		<li>Collatex <input name="collator" value="collatex" checked="yes" type="radio"></input></li>
		<li>Other [not available] <input name="collator" value="other" type="radio"></input></li>
	</ul>
	<div><h2>Results as:</h2></div>
		<ul id="outputUL">
		        <li>GraphML <input name="output" value="application/graphml" type="radio"></input></li>
			<li>TEI <input name="output" checked="yes" value="application/xml" type="radio"></input></li>
			<li>JSON <input name="output" value="application/json" type="radio"></input></li>
			<li>HTML <input name="output" value="application/xhtml" type="radio"></input></li>
		</ul>
        <p>&nbsp;</p>
		  <p><div onclick="getTokens()" class="button"><span>Get tokens</span></div></p>

	</div>
  </form>
	
</div>
<div class="col03 coll">
  <h1><span class="nmr">3</span> Result</h1>
  <form action="" method="post" enctype="multipart/form-data" name="Resultform" id="Resultform">
    <h2>Collated Result</h2>
    <textarea rows=25 cols=33 id="collatedResult" name="result"></textarea>
    <div id="resultButton"></div>
  </form>
</div>

<div class=""></div>
<div class="">
	
</div>

</body>
</html>
